.social-links {
  padding: 2rem;
  border-top: 1px solid rgb(192, 192, 192);

  &-item {
    list-style: none;
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;

    @media only screen and (max-width: $bp-small) {
      width: 40%;
    }
  }
}

.links i {
  font-size: 2rem;
}

.footer {
  width: 100%;
  padding: 5rem 10rem;
  background-color: rgb(39, 39, 39);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(128, 128, 128);
  padding-bottom: 3rem;


}

// .footer-logo {
//   width: 10vw;
//   background-image: url(../img/logo.png);
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
// }

.footer-about {
  flex: 0 0 30%;

  h1 {
    color: #fff;
    padding-bottom: 2rem;
  }
}

.footer-about-div {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  ul {
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
  }
}

.footer-contact {
  color: #fff;

  h1 {
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.copyright {
  padding-top: 2rem;
  color: #fff;
}
