.service {
  padding: 5rem 25rem;

  &-heading {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 3rem;
    color: rgb(80, 80, 80);

    span {
      color: rgb(29, 29, 29);
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }
}

.get-in-touch {
  flex: 0 0 48%;
  padding: 7rem 5rem;
  background-color: $color-secondary;

  h1 {
    padding-bottom: 3rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;

    span {
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  input {
    background: none;
    border: none;
    border-bottom: 0.5px solid #fff;
    padding: 1rem 3rem 2rem 0rem;

    &::placeholder {
      color: #fff;
    }
  }
}

.submit-btn {
  background: none;
  border: none;
  margin-top: 5rem;
  padding: 2rem 5rem;
  border: 1px solid #fff;
  border-radius: 10rem;
  color: #fff;
  font-size: 1.4rem;
  align-self: center;
}

.whats-next {
  flex: 0 0 48%;
  background-color: $color-grey-light-2;
  padding: 7rem 5rem;

  h1 {
    font-size: 3rem;
    padding-bottom: 3rem;

    span {
      font-size: 3.5rem;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;

    p {
      width: 90%;
      font-size: 1.3rem;
    }
  }
}

.number {
  height: 3rem;
  width: 3rem;
  background-color: #e5e4e4;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
