.hero__content-heading {
  font-size: 5rem;
  font-weight: 600;
}

.hero__content-heading span {
  font-size: 7rem;
  color: $color-primary;
}

.paragraph {
  font-size: 1.3rem;
  padding: 2rem 0;
}

.email-input input {
  background: none;
  border: none;
  background-color: $color-grey-light-1;
  padding: 1rem 10rem 1rem 1rem;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}

.email-btn{
    background: none;
    border: none;
    background-color: black;
    color: #fff;
    padding: 1rem 5rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;

    @media only screen and (max-width: $bp-small) {
      padding: 1rem 3rem;
    }
}